/** =================== Fonts Setting ======================*/
@font-face{
    font-family: Poppins;
    src: url("../webfonts/Poppins/Poppins-Light.ttf");
    font-weight: 100;   
}

/** ==================== Global ========================  */

:root{
    --main-font : Poppins;
    --main-bg-color:#1e202b;
    --secondary-bg-color : #262936;
    --main-color:#009ad8;
    --main-font-color:#fff;
    --main-font-color-rgb:255, 255, 255;
    --main-nav-active-color:#009ad8;
    --main-nav-hover-color:#009ad8;
    --main-nav-hover-color-rgb: 0, 154, 216;
}

/** =================== General Setting ======================*/

*{
    word-break: break-all;
}

body{
    font-family: var(--main-font);
    background: var(--main-bg-color);
}

input[type="text"],input[type="email"],input[type="url"],textarea {
    color: var(--main-font-color);
    background: #1e202b;
}

.form-control {
    color: var(--bs-body-color);
    background-color: var(--main-bg-color);
}

.form-control:focus {
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.footer label{
    color: rgba(var(--main-font-color-rgb), .60);
}

/* * ========================= Navbar ========================= */

.navbar-nav {
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--main-nav-hover-color);
}

.navbar-brand:focus, .navbar-brand:hover {
    color: var(--main-font-color);
}

.navbar a{
    color: var(--main-font-color);
}

.navbar-nav li a{
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    transition: all 0.3s;
    border:2px solid transparent;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--main-nav-hover-color);
    border-color:var(--main-nav-hover-color);
}

.nav-link:focus{
    color: var(--main-font-color);
}
.nav-link:hover {
    color: var(--main-nav-hover-color);
    border-color:var(--main-nav-hover-color);
}
.navbar {
    --bs-navbar-toggler-icon-bg:unset;
    --bs-navbar-toggler-border-radius: 1rem;
}
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--main-nav-hover-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0px var(--bs-navbar-toggler-focus-width) #88d1ff;
}


/** ==========================   =======================================*/

.search-section{
    background: linear-gradient(346deg, rgba(255,255,255,0.3) 0%, rgba(0,0,0,0.3) 0%), url("../images/city.jpg");
    min-height: 400px;
    background-size: cover;
}

.weather-wrapper{
    position: relative;
    top: -150px;
}

/** ========================= Footer ===================================== */

.footer{
    background: var(--secondary-bg-color);
}

.social-media{
    & a{
        display: inline-block;
        width: 40px;
        height: 40px;
        color:var(--main-color);
        background: #1e202b;
        border-radius: 50%;
        text-align: center;
        transition: all 0.3s;
        & i{
            font-size: 20px;
            padding: 10px;
        }

        &:hover{
            color:var(--main-font-color);
            background-color:var(--main-color);
        }
    }
}



/*& >>>>>>>>>>>>>>>>>>>>>>>>>   Contact US Page Style <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  */

/** --------------- Pages Navigation Section ----------  */

.nav-pages-bar .pages-bar{
    background-color: var(--secondary-bg-color);
}

.pages-bar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    width: 0;
    margin-top: 1px;
    border-radius: 10px;
    height: 2px;
    background-color: var(--main-font-color);
    transition: all 0.3s;
}

.pages-bar a:hover::after{
    width: calc(100% - 25px); 
}

/** --------------- Location Section ----------  */

.location-section{
    background-color: var(--secondary-bg-color);
}

/** -------------- Form Section ---------------  */

.form-control{
    border: 2px solid #393c48;
}

.form-floating>label{
    white-space: wrap;
}

.location-data i {
    color: var(--main-color);
    padding-right: 5px;
}



#contact-form label{
    color: rgba(var(--main-font-color-rgb), .60);
}

.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
    background-color: unset;
}

.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    color: rgba(var(--main-font-color-rgb), .60);
}